---
import EmailLink from "../components/EmailLink.astro";
import GithubLink from "../components/GithubLink.astro";
import SlantedImageRow from "../components/SlantedImageRow.astro";
import Section from "../components/section/Section.astro";
import SectionDetails from "../components/section/SectionDetails.svelte";
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="Covle - Software Engineering, but good">
	<article class="mt-16 lg:mt-28 prose max-w-none dark:prose-invert">
		<img
			class="rounded-full h-20 w-auto"
			src="/me-square-2.jpg"
			alt="A picture of the Author"
		/>
		<h1>Software Engineer, Team Lead, Aerialist.</h1>
		<p class="mt-8">
			I am Co, a software engineer with significant experience in large cloud
			applications, true full-stack development, and data security. Here at
			Covle we create software that's build to last. Our focus is on
			scalability, reliability and data security.
		</p>
		<div class="flex gap-4">
			<GithubLink />
			<EmailLink />
		</div>
		<div>
			<SlantedImageRow />
		</div>
	</article>

	<Section title="Current Projects">
		<SectionDetails
			title="Netques Application Platform"
			subtitle="Grants and Applications for Government and Education"
			link="/projects/nqap"
		>
			The Netques Application Platform (NQAP) project is a versatile and
			extensible solution designed to support various grant and loan application
			processes, such as bank loans, student loans, PHD grants, and government
			refunds. Built on a GDPR-compliant tech stack with a strong emphasis on
			privacy and security.
		</SectionDetails>

		<SectionDetails
			title="Quest Escapes"
			subtitle="Outdoor Escape Room & Team Building"
			link="/projects/quest-escapes"
		>
			The Quest Escapes platform is an outdoor 'escape room'-platform designed
			for team building, exploring new locations or just plain having a good
			time with friends. Location-based gameplay, strategy, Augmented Reality
			and critical thinking thrown into one project!
		</SectionDetails>
	</Section>

	<Section title="Pandemic Relief in Germany">
		<SectionDetails
			title="Ueberbrueckungshilfe Studierende"
			subtitle="Providing Financial Support in Times of Need"
			link="/projects/student-support"
		>
			This pandemic relief project was created by the German Ministry of
			Education to provide aid to students in need. Speed, Security Stability.
			Pick three, because we had them all!
		</SectionDetails>
	</Section>

	<Section title="AI / ChatGPT / Productivity">
		<SectionDetails
			title="ChatGPT / GPT-4 Client"
			subtitle="Whisper and ChatGPT Integration"
			link="/projects/chat-gpt"
		>
			The robots are taking my job! Which gives me a lot more time to chill. The
			introduction of OpenAI's APIs was just begging me to create my own client.
			So that's what I did!
		</SectionDetails>

		<SectionDetails
			title="Slack ChatGPT Integration"
			subtitle="Talk to Chad Gupity!"
			link="/projects/chad-gupity"
		>
			Do you use Slack for work? How about integrating GPT-4 right into Slack?
			Now you can ask Chad Gupity to help you write functions, build
			configuration files, and create documentation, right from Slack!
		</SectionDetails>

		<SectionDetails
			title="Github / Slack Continuous Integration"
			subtitle="Approve Workflows from Slack"
			link="/projects/slack-github"
		>
			Continuous Integration is great and all, but what if you could control it
			straight from Slack? View status of builds, see what's been rolled out to
			which environments and approve deployments to production. All straight
			from slack!
		</SectionDetails>
	</Section>

	<Section title="Personal">
		<SectionDetails
			title="Exclam! Chess Coordinates Trainer"
			subtitle="Gamify your experience when learning Chess Coordinates"
			link="/projects/exclam"
		>
			Like Chess? Don't want to sit down and learn the coordinate system? Here's
			Exclam! The Chess Coordinates Trainer that gamifies learning chess
			coordinates!
		</SectionDetails>
	</Section>
</PageLayout>
