<div class="flex gap-2 items-center my-8">
  <img src="/me-square-2.jpg" class="author rounded-full h-10 my-0" />

  <div>
    <div class="leading-4 font-bold">Co van Leeuwen</div>
    <div class="text-sm text-slate-600">Owner</div>
  </div>
</div>
