<footer class="text-sm flex-wrap flex px-4 lg:px-16 border-t border-slate-200 mt-14 py-14">
  <div class="grow">
    <nav class="">
      <ul class="flex gap-4 font-semibold">
        <li><a class="link" href="/">Home</a></li>
        <li><a class="link" href="/about">About</a></li>
        <!-- <li><a class="link" href="/projects">Projects</a></li> -->
        <li><a class="link" href="/testimonies">Testimonies</a></li>
        <li><a class="link" href="/contact">Contact</a></li>
      </ul>
    </nav>
  </div>
  <div class="text-slate-400 dark:text-slate-500">
    Covle {new Date().getFullYear()}
  </div>
</footer>

<style>
  .link {
    @apply hover:text-purple-600 transition-colors;
  }
</style>