---
const { title } = Astro.props;
---
<section class="flex gap-4 border-l border-slate-200 dark:border-slate-700 pl-8 my-6">
  <div class="w-1/4 header text-sm">
    {title}
  </div>
  <div class="w-3/4">
    <slot />
  </div>

</section>