---
import "../fonts/montserrat.css";
import "../fonts/open-sans.css";

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<script>
			function isDarkModePreferred(): boolean {
				const storedPreference = localStorage.getItem("darkMode");
				if (storedPreference !== null) return !!storedPreference;
				return (
					window.matchMedia &&
					window.matchMedia("(prefers-color-scheme: dark)").matches
				);
			}
			const darkMode = isDarkModePreferred();
			if (darkMode) document.body.classList.add("dark");
		</script>
		<slot />
	</body>
</html>
<style is:global>
	body {
		@apply bg-slate-100;
	}

	body.dark {
		@apply bg-slate-800 text-white;
	}

	.montserrat {
		font-family: Montserrat, "Open Sans", sans-serif;
	}

	.header,
	.prose h1,
	.prose h2,
	.prose h3,
	.prose h4,
	.prose h5 {
		font-family: Montserrat, "Open Sans", sans-serif;
		@apply font-bold text-slate-700 dark:text-slate-200;
	}

	.header-semibold {
		font-family: Montserrat, "Open Sans", sans-serif;
		@apply font-semibold text-slate-700 dark:text-slate-200;
	}

	.prose p {
		@apply leading-8;
	}
</style>
